.loading {
  height: 100%;
  width: 100%;
  background: #fff;
  &-hidden {
    display: none;
  }
  z-index: 99999;
}
.loadingAnimation {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
