:global {
  .InitContainer {
    position: relative;
  }
}
.init {
  height: 100%;
  width: 100%;
  padding-top: 3rem;
  align-items: center;
  .title {
    padding: 1rem 2.5rem;
  }
  .subTitle {
    padding: 0.5rem 2.5rem;
  }
  .formTitle {
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .formItem {
    margin: 1rem 0;
  }
  .genderRadio {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 1023px) {
  .Init {
    padding: 0;
  }
}
