.card {
  :global {
    .semi-card-header {
      padding: 14px 20px !important;
    }
    .semi-card-body {
      padding: 14px 20px !important;
      padding-bottom: 0 !important;
    }
    .semi-card-footer {
      padding: 0 20px 10px 20px;
    }
  }
  .link {
    :global {
      .semi-typography {
        color: var(--semi-color-link) !important;
      }
    }
  }
  :global #content-label {
    padding-top: 0 !important;
    padding-right: 0 !important;
    .semi-form-field-label-text::after {
      content: '' !important;
    }
  }
}

.commentItem {
  &--desktop,
  &--mobile {
    :global {
      .semi-list-item-body,
      .semi-list-item-body-main {
        width: 100%;
      }
    }
  }
  &--desktop {
    .content {
      margin-bottom: 4px;
    }
  }
  &--mobile {
    .main {
      display: flex;
      flex-direction: column;
    }
    .avatar {
      margin-right: 8px;
      margin-bottom: 4px;
    }
    .content {
      margin: 4px 0 8px 4px;
    }
  }
}
