.edit-btns {
  position: absolute;
  right: 0;
  top: 12px;
  display: grid;
  gap: 4px;
  width: 100%;
  padding: 0 24px 12px 24px;
  box-sizing: border-box;
  z-index: 999;
  &--mobile {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr auto !important;
    padding: 0 12px;
    .buttonGroup {
      margin-bottom: 12px;
    }
  }
  &__edit {
    position: relative;
    grid-template-columns: 1fr 150px;
    padding-top: 12px !important;
    top: 0;
  }
  .buttonGroup {
    width: 100%;
    justify-content: flex-end;
  }
  :global {
    .semi-form-field {
      padding: 0;
    }
  }
}
