.signContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  max-width: 70%;
  min-width: 900px;
  min-height: 700px;
  max-height: 70%;
  justify-content: center;
  align-items: center;
  transform: translate3d(-50%, -50%, 0);
}
.banner {
  flex: 0 1 50%;
  height: 250px;
  background-color: var(--semi-color-primary);
}
.form {
  position: relative;
  flex: 1 1 30%;
  padding: 16px 24px;
}
